@import "./variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-1000);
}

.container {
  max-width: 1380px;
}

/* HEADER */

.header-desktop {
  display: block;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__burger-wrap {
  position: relative;
  display: flex;
}

.header__burger-conent {
  position: absolute;
}
