:root {
  --color-50: #fef4fe;
  --color-100: #fce7fc;
  --color-200: #f9cffa;
  --color-300: #f7bbf7;
  --color-400: #f4a0f5;
  --color-500: #f188f2;
  --color-600: #b566b6;
  --color-700: #794479;
  --color-800: #3c223d;
  --color-900: #180e18;
  --color-1000: #FFFFFF;
}
